<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<link th:href="@{/messages/messages.css}" rel="stylesheet"/>
    <title>CPA Authorization Service</title>
</head>
<body>
    <div id="content" layout:fragment="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-profile">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-4">
                                    <a th:href="@{/changePassword}" class="links active" id="changePassword-link">Change Password</a>
                                </div>
                                <div class="col-xs-4">
                                    <a th:href="@{/editProfile}" class="links" id="editProfile-link">Edit Profile</a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="javascript:document.logoutForm.submit();" class="links" id="signout-link">Sign Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="changePasswordForm" th:action="@{/changePassword}" method="post" th:object="${updatePasswordForm}">
                                        <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
                                        <div th:if="${!#strings.isEmpty(message)}"
                                             th:class="${message.type.cssClass}"
                                             th:text="${message.text}">
                                            error message text
                                        </div>
                                        <div class="form-group">
                                        	<span th:if="${#fields.hasErrors('oldPassword')}" class="error" th:text="${#fields.errors('oldPassword')[0]}">Error</span>
                                            <input type="password" class="form-control" th:field="*{oldPassword}" id="oldPassword" placeholder="Old Password..." />
                                        </div>
                                        <div class="form-group">
                                        	<span th:if="${#fields.hasErrors('newPassword')}" class="error" th:text="${#fields.errors('newPassword')[0]}">Error</span>
                                            <input type="password" class="form-control" th:field="*{newPassword}" id="newPassword" placeholder="New Password (at least 8 characters)..." />
                                        </div>
                                        <div class="form-group">
                                        	<span th:if="${#fields.hasErrors('confirmPassword')}" class="error" th:text="${#fields.errors('confirmPassword')[0]}">Error</span>
                                            <input type="password" class="form-control" th:field="*{confirmPassword}" id="confirmPassword" placeholder="Confirm Password..." />
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-5 col-sm-offset-1">
                                                    <button type="submit" class="form-control btn btn-change" name="action" value="save">Change Password</button>
                                                </div>
                                                <div class="col-sm-5">
                                                    <button type="submit" class="form-control btn btn-change" name="action" value="goback" th:disabled="${!updatePasswordForm.redirectUriEnabled}">Go Back to The App</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <form method="POST" th:action="@{/signout}" name="logoutForm"></form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>