<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
    <link th:href="@{/messages/messages.css}" rel="stylesheet"/>
	<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	<title>CPA Authorization Service</title>
</head>
<body>
<div id="content" layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading text-center">
						<div class="row">
							<div class="col-xs-12">
								<h1>Attention!</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
								<div th:class="info">
									Sorry, you are not authorized to access this resource. 
								</div>			
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
