<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:social="http://spring.io/springsocial"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
	<link th:href="@{/messages/messages.css}" rel="stylesheet"/>
    <title>CPA Authorization Service</title>
</head>
<body>
<div id="content" layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-profile">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <a th:href="@{/changePassword}" class="links" id="changePassword-link">Change Password</a>
                            </div>
                            <div class="col-xs-4">
                                <a th:href="@{/editProfile}" class="links active" id="editProfile-link">Edit Profile</a>
                            </div>
                            <div class="col-xs-4">
                                <a href="javascript:document.logoutForm.submit();" class="links" id="signout-link">Sign Out</a>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form id="editProfileForm" th:action="@{/editProfile}" method="post" th:object="${editProfileForm}">
                                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
                                    <div th:if="${!#strings.isEmpty(message)}"
                                         th:class="${message.type.cssClass}"
                                         th:text="${message.text}">
                                         error message text
                                    </div>
                                    <div class="form-group">
                                    	<span th:if="${#fields.hasErrors('firstName')}" class="error" th:text="${#fields.errors('firstName')[0]}">Error</span>
                                        <input type="text" class="form-control" th:field="*{firstName}" id="firstName" placeholder="First name..." />
                                    </div>
                                    <div class="form-group">
                                    	<span th:if="${#fields.hasErrors('lastName')}" class="error" th:text="${#fields.errors('lastName')[0]}">Error</span>
                                        <input type="text" class="form-control" th:field="*{lastName}" id="lastName" placeholder="Last name..." />
                                    </div>
                                    <div class="form-group">
                                    	<span th:if="${#fields.hasErrors('email')}" class="error" th:text="${#fields.errors('email')[0]}">Error</span>
                                        <input type="text" class="form-control" th:field="*{email}" id="email" placeholder="Email..." />
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <button type="submit" class="form-control btn btn-change" name="action" value="save">Save Changes</button>
                                            </div>
                                            <div class="col-sm-5">
                                                <button type="submit" class="form-control btn btn-change" name="action" value="goback" th:disabled="${!editProfileForm.redirectUriEnabled}">Go Back to The App</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form method="POST" th:action="@{/signout}" name="logoutForm"></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>