<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
    <link th:href="@{/messages/messages.css}" rel="stylesheet"/>
	<script src="https://www.google.com/recaptcha/api.js" async="async" defer="defer"></script>
	<title>CPA Authorization Service</title>
</head>
<body>
<div id="content" layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading text-center">
						<div class="row">
							<div class="col-xs-12">
								<h1>Reset Password</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="forgetPasswordForm" th:action="@{/forgetPassword}" method="post">
									<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
									<div th:if="${!#strings.isEmpty(message)}"
		 								 th:class="${message.type.cssClass}"
		 								 th:text="${message.text}">
										error message text
									</div>
									<div class="form-group">
										<input class="form-control" id="email" name="email" type="email" placeholder="Email..." />
									</div>
									<div class="form-group text-left">
										<div class="row">
											<div class="col-xs-12">
												<div class="g-recaptcha" th:attr="data-sitekey=${@googleRecaptchaProperties.getClient()}"></div>
											</div>
										</div>
									</div>
									<div class="form-group text-center">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" class="form-control btn btn-forgot" onclick="resetPassword()" value="Reset Password" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-xs-12 text-right">
												<a th:href="@{/signin}" id="cancel-form-link">Go back to Sign In page.</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script th:inline="javascript">
			var serverContext = [[@{/}]];
			function resetPassword(){
    			var email = $("#email").val();
    			$.post(serverContext + "forgetPassword",{email: email} ,
      				function(data){
          				window.location.href = 	serverContext + "signin";
    				})
    			.fail(function(data) {
	        		if(data.responseJSON.error.indexOf("MailError") > -1)
    	    		{
        	    		window.location.href = serverContext + "emailError.html";
        			}
        			else{
	            		window.location.href = serverContext + "signin";
        			}
    			});
			}
		</script>
</body>
</html>
