<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
    <link th:href="@{/messages/messages.css}" rel="stylesheet"/>
	<title>CPA Authorization Service</title>
</head>
<body>
<div id="content" layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signup">
					<div class="panel-heading text-center">						
						<div class="row">
							<div class="col-xs-12">
								<h1>Create Account</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="signup" th:action="@{/signup}" method="post" th:object="${signupForm}">
									<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
									<div th:if="${!#strings.isEmpty(message)}"
										 th:class="${message.type.cssClass}"
										 th:text="${message.text}">
										error message text
									</div>
									<div class="form-group required">
										<div>
											<span th:if="${#fields.hasErrors('firstName')}" class="error" th:text="${#fields.errors('firstName')[0]}">Error</span>
											<input type="text" th:field="*{firstName}" class="form-control create" placeholder="First name..." />
										</div>
									</div>

									<div class="form-group required">
										<div>
											<span th:if="${#fields.hasErrors('lastName')}" class="error" th:text="${#fields.errors('lastName')[0]}">Error</span>
											<input type="text" th:field="*{lastName}" class="form-control create" placeholder="Last name..." />
										</div>
									</div>
									<div class="form-group required">
										<div>
											<span th:if="${#fields.hasErrors('username')}" class="error" th:text="${#fields.errors('username')[0]}">Error</span>
											<input type="text" th:field="*{username}" class="form-control create" placeholder="Email..." />
										</div>
									</div>
									<div class="form-group required">
										<div>
											<span th:if="${#fields.hasErrors('password')}" class="error" th:text="${#fields.errors('password')[0]}">Error</span>
											<input type="password" th:field="*{password}" class="form-control create" placeholder="Password (at least 8 characters)..." />
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-signup" value="Sign Up" />
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-xs-12 text-right">
												<a th:href="@{/signin}" id="login-form-link">Go back to Sign In page.</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>