<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
<head>
	<link th:href="@{/messages/messages.css}" rel="stylesheet"/>
	<title>CPA Authorization Service</title>
</head>
<body>
<div id="content" layout:fragment="content">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-signin">
					<div class="panel-heading text-center">						
						<div class="row">
							<div class="col-xs-12">
								<h1>Sign In</h1>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="signin" th:action="@{/signin/authenticate}" method="post">
									<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>	
									<div th:if="${!#strings.isEmpty(message)}"
		 								 th:class="${message.type.cssClass}"
		 								 th:text="${message.text}">
										error message text
									</div>		
									<div class="error" th:if="${#httpServletRequest.getParameter('error') == 'bad_credentials'}">
			  							Your sign in information was incorrect.
			  							Please try again or <a th:href="@{/signup}">sign up</a>.
			  						</div>		
			  						<div class="error" th:if="${#httpServletRequest.getParameter('error') == 'disabled_account'}">
			  							Your account is not activated or has been disabled. Please check your email or contact us.			  							
			  						</div>
			  						<div class="info" th:if="${#httpServletRequest.getParameter('info') == 'email_verification'}">
			  							An email has been sent to you, please check your email and follow the email instruction to activate your account.			  							
			  						</div>			
			  						<div class="info" th:if="${#httpServletRequest.getParameter('info') == 'complete_verification'}">
			  							Your email has been verified and your account is now activated.	  							
			  						</div>			  						
									<div class="form-group">
										<input id="login" name="username" type="text" size="25" class="form-control" placeholder="Email..." />
									</div>
									<div class="form-group">
										<input id="password" name="password" type="password" size="25" class="form-control" placeholder="Password..." />
									</div>									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-signin" value="Sign In" />
											</div>
										</div>
									</div>
								</form>
									<div class="form-group text-center">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<span id="subtext">- OR -</span>
											</div>
										</div>
									</div>			
									<!-- 					
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3 text-center">
												<form name="fb_signin" id="fb_signin" th:action="@{/signin/facebook}" method="POST">
													<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
													<input type="hidden" name="scope" value="public_profile,email"></input>
													<input type="image" th:src="@{/social/facebook/sign-in-with-facebook.png}" />
												</form>
											</div>
										</div>
									</div>
									 -->
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3 text-center">
												<form name="gg_signin" id="gg_signin" th:action="@{/signin/google}" method="POST">
													<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
													<input type="hidden" name="scope" value="email profile"></input>
													<input id="google-login" type ="image" th:src="@{/social/google/sign-in-with-google.png}" />
												</form>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-xs-6">
												<div class="text-center">
													<a th:href="@{/signup}" tabindex="4" id="register-form-link">Create Account?</a>
												</div>
											</div>
											<div class="col-xs-6">
												<div class="text-center">
													<a th:href="@{/forgetPassword}" tabindex="5" class="forgot-password" id="forgot-password-link">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>