<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
	    <link th:href="@{/messages/messages.css}" rel="stylesheet"/>
		<title>CPA Authorization Service</title>
	</head>
	<body>
		<div id="content" layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="panel panel-update">
							<div class="panel-heading text-center">
								<div class="row">
									<div class="col-xs-12">
										<h1>Update Password</h1>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<form id="updatePasswordForm" th:action="@{/updatePassword}" method="post" th:object="${updatePasswordForm}">
											<input type="hidden" name="_csrf" th:value="${_csrf.token}"></input>
											<div th:if="${!#strings.isEmpty(message)}"
												 th:class="${message.type.cssClass}"
												 th:text="${message.text}">
												error message text
											</div>

											<div class="form-group required">
												<span th:if="${#fields.hasErrors('newPassword')}" class="error" th:text="${#fields.errors('newPassword')[0]}">Error</span>
												<input class="form-control" th:field="*{newPassword}"  type="password" placeholder="Password (at least 8 characters)..." />
											</div>

											<div class="form-group required">
												<span th:if="${#fields.hasErrors('confirmPassword')}" class="error" th:text="${#fields.errors('confirmPassword')[0]}">Error</span>
												<input class="form-control" th:field="*{confirmPassword}"  type="password" placeholder="Confirm Password..." />
											</div>

											<div class="form-group">
												<div class="row">
													<div class="col-sm-6 col-sm-offset-3">
														<input type="submit" class="form-control btn btn-update" value="Update Password" />
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-xs-12 text-right">
														<a th:href="@{/signin}" id="login-form-link">Go back to Sign In page.</a>
													</div>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>			
	</body>
</html>
