body {
	padding-top: 70px;
}

a {
	color: #6db33f;
}

ul.choices li {
	list-style:none;
	display:inline;
	font-size:10pt;
	padding-left: 5px;
	border-left: 1px solid #000;
}

ul.choices li:first-child {
	padding-left: 0px;
	border-left: none;
}

ul.friends li {
	padding-top:5px;
	padding-bottom:5px;
	list-style:none;
}

div.accountConnection {
	margin: 10px;
	width: 600px;
	background-color: #ffffff;
	border: 1px solid #006600;
}

div.accountConnection h4 {
	margin-top: 0;
	color: #ebf1e7;
	background-color: #666;
}

div.accountConnection h4 img {
	vertical-align: middle;
}

.jumbotron {
	padding-top: 0px;
	color: #ebf1e7;
	background-color: #666;
	font-family: "Varela Round",sans-serif;"
}

.jumbotron h1 {
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #ebf1e7;
}

.jumbotron p {
	font-weight: 400;
	font-size: 15px;
	width: 50%;
}

.jumbotron .project-title {
    display: inline-block;
    border-top: 3px solid #6db33f;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding-top: 8px;
    font-family: "Montserrat",sans-serif;
    margin-bottom: 30px;
    margin-top: 60px;
}

.jumbotron label {
	width: 100px;
}

.btn-form {
	background-color: #34302d;
    background-image: none;
    border-radius: 0;
    color: #f1f1f1;
    font-size: 14px;
    line-height: 14px;
    font-family: "Montserrat",sans-serif;
    border: 2px solid #6db33f;
    text-shadow: none;
    transition: border 0.15s;
    -webkit-transition: border 0.15s;
    -moz-transition: border 0.15s;
    -o-transition: border 0.15s;
    -ms-transition: border 0.15s;
    text-transform: uppercase;
}

.btn-primary {
	background-color: #34302d;
    background-image: none;
    border-radius: 0;
    color: #f1f1f1;
    font-size: 14px;
    line-height: 14px;
    font-family: "Montserrat",sans-serif;
    border: 2px solid #6db33f;
    padding: 21px 60px;
    text-shadow: none;
    transition: border 0.15s;
    -webkit-transition: border 0.15s;
    -moz-transition: border 0.15s;
    -o-transition: border 0.15s;
    -ms-transition: border 0.15s;
    text-transform: uppercase;
}

/* *********************************************************** */

.panel {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}

.panel > .panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}

.panel > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel > .panel-heading a.active {
    color: #029f5b;
    font-size: 18px;
}

.panel > .panel-header hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.panel input[type="text"],
.panel input[type="password"],
.panel input[type="email"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.panel input:hover,
.panel input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn:hover,
.btn:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}

/*

.panel-signin,
.panel-signup,
.panel-update,
.panel-edit,
.panel-change{
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-signin > .panel-heading,
.panel-signup > .panel-heading,
.panel-update > .panel-heading,
.panel-change > .panel-heading,
.panel-edit > .panel-heading{
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
.panel-signin > .panel-heading a,
.panel-signup > .panel-heading a,
.panel-update > .panel-heading a,
.panel-change > .panel-heading a,
.panel-edit > .panel-heading a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-signin>.panel-heading a.active,
.panel-signup>.panel-heading a.active,
.panel-update>.panel-heading a.active
.panel-change > .panel-heading a.active,
.panel-edit > .panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-signin>.panel-heading hr,
.panel-signup>.panel-heading hr,
.panel-update>.panel-header hr,
.panel-change > .panel-header hr,
.panel-edit > .panel-header hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-signin input[type="text"],
.panel-signin input[type="email"],
.panel-signin input[type="password"],
.panel-signup input[type="text"],
.panel-signup input[type="password"],
.panel-update input[type="password"],
.panel-edit input[type="text"],
.panel-change input[type="password"]{
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-signin input:hover,
.panel-signin input:focus,
.panel-signup input:hover,
.panel-signup input:focus,
.panel-update input:hover,
.panel-update input:focus,
.panel-change input:focus,
.panel-change input:hover,
.panel-edit input:focus,
 .panel-edit input:hover{
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}

.btn-signin {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #59B2E6;
}
.btn-signin:hover,
.btn-signin:focus {
    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}*/
.forgot-password,
#register-form-link {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus,
#register-form-link:hover,
#register-form-link:focus {
    text-decoration: underline;
    color: #666;
}
/*
.btn-signup,
.btn-forgot,
.btn-update,
.btn-edit,
.btn-change{
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-signup:hover,
.btn-signup:focus,
.btn-forgot:hover,
.btn-forgot:focus,
.btn-update:hover,
.btn-update:focus,
.btn-edit,
.btn-change {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}
*/

.form-group.required div {
    position:relative;
    margin-right: 15px;
}

.form-group.required div:after {
    position:absolute;
    content:'*';
    color:red;
    right: -10px;
    top:0;
}

/* *********************************************************** */