<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Spring Social Showcase</title>
	</head>
	<body>
		<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		
		<div id="content" layout:fragment="content">
			<h3>Connect to Google</h3>
			
			<form th:action="@{/connect/google}" method="POST">
				<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				<input type="hidden" name="scope" value="email profile" />
				<div class="formInfo">
					<p>You aren't connected to Google yet. Click the button to connect Spring Social Showcase with your Google account.</p>
				</div>
				<p><button type="submit"><img th:src="@{/social/google/g_logo.png}"/></button></p>				
			</form>
		</div>		
	</body>
</html>
