<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:social="http://spring.io/springsocial"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout">
	<head>
		<title>Spring Social Showcase</title>
	</head>
	<body>
		<div id="content" layout:fragment="content">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						<div class="panel panel-profile">
							<div class="panel-heading">
								<div class="row">
									<div class="col-xs-4">
										<a th:href="@{/changePassword}" class="links" id="changePassword-link">Change Password</a>
									</div>
									<div class="col-xs-4">
										<a th:href="@{/editProfile}" class="links" id="editProfile-link">Edit Profile</a>
									</div>
									<div class="col-xs-4">
										<a href="javascript:document.logoutForm.submit();" class="links" id="signout-link">Sign Out</a>
									</div>
								</div>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-lg-12">
										<div class="mainSplashScreen">
											Above are links to change your password or edit your profile.
										</div>
										<form method="POST" th:action="@{/signout}" name="logoutForm"></form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
				$('.links').click(function(e) {
					$('.mainSplashScreen').hide();

					var id = $(this).attr('id').split('-')[0];

					switch(id) {
						case 'changePassword': {
							$('#changePasswordForm').show();
							$('#editProfileForm').hide();
							$('#changePassword-link').addClass('active');
							$('#editProfile-link').removeClass('active');
							break;
						}
						case 'editProfile': {
							$('#changePasswordForm').hide();
							$('#editProfileForm').show();
							$('#changePassword-link').removeClass('active');
							$('#editProfile-link').addClass('active');
							break;
						}
					}

				});
			</script>
		</div>
		<!--<div id="header">
			<h1><a th:href="@{/}">Spring Social Showcase</a></h1>
		</div>
		

			<h3>Your Connections</h3>
			<div class="accountConnection" th:each="providerId : ${providerIds}">
				<h4><img th:src="@{#{${providerId} + '.icon'}}" width="36" height="36" /><span th:text="#{${providerId} + '.displayName'}">provider name</span></h4>
				<p>
 				<span th:if="${!#lists.isEmpty(connectionMap[__${providerId}__])}">
					You are connected to <span th:text="#{${providerId} + '.displayName'}">provider name</span> as <span th:text="${connectionMap[__${providerId}__][0].displayName}">user display name</span>.
				</span>
				<span th:if="${#lists.isEmpty(connectionMap[__${providerId}__])}">
					You are not yet connected to <span th:text="#{${providerId} + '.displayName'}">provider name</span>.
				</span>
				Click <a th:href="@{'/connect/' + ${providerId}}">here</a> to manage your <span th:text="#{${providerId} + '.displayName'}">provider name</span> connection.
				</p>
 			</div>
		</div>-->
	</body>
</html>
